UIAlertGIT/UIAlertGIT.xcodeproj/project.xcworkspace/xcuserdata/vitaliikryvoshapka.xcuserdatad/UserInterfaceState.xcuserstate
UIAlertGIT/UIAlertGIT.xcodeproj/xcuserdata/vitaliikryvoshapka.xcuserdatad/xcschemes/xcschememanagement.plist
xcschememanagement.plist
UserInterfaceState.xcuserstate
